main {
  display: flex;
  gap: 15px;
}

form {
  background-color: rgba(236, 0, 0, 0.164);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  max-width: 300px;
  min-height: 482px;
  padding: 0 15px;
}

.card {
  border: 2px solid red;
  height: 482px;
  max-width: 229px;
  padding: 15px;
  width: 229px;
}

.card img {
  height: 180px;
}

.card-description {
  background-color: rgb(130, 131, 81);
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  min-height: 80px;
  padding: 5px;
  width: 100%;
}

.card-description p {
  overflow-wrap: break-word;
  width: 100%;
}
